@model RegisterInputModel

<div>
    <h1>
        <small>You have successfully registered a new account! </small>
    </h1>

    <p> Please confirm your email at <b>"@Model.Email"</b></p>

    <div>
        Click <a href="@Url.ActionLink("Login","Account")">here</a> to sign in
    </div>

</div>
